<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card>
    <mat-toolbar fxLayoutAlign="center center" color="primary">Update</mat-toolbar>
    <form (ngSubmit)="onFormSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="passenger-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" name="name"  [(ngModel)]="passenger.name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Passport</mat-label>
        <input matInput placeholder="Passport" name="passport"  [(ngModel)]="passenger.passport">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" name="address"  [(ngModel)]="passenger.address">
      </mat-form-field>
            <button mat-raised-button color="primary" >Add</button><br>
    </form>
  </mat-card>
</div>

