table {
  width: 90%;
  // padding: 20px;
  margin-top: 50px;
}
.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #999;
}

.button-div {
  padding: 10%;
}

table.center {
  margin-left: 50%;
  margin-right: 50%;
}