table {
  width: 90%;
  // padding: 20px;
  margin-top: 50px;
}
.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #999;
}

.button-div {
  padding: 10%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}