table {
  width: 90%;
  // padding: 20px;
  margin-top: 50px;
}
.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #999;
}

.button-div {
  padding: 10%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
